.new-house form {
    padding: 6px 26px;
    width: 100%;
}

.new-house form div {
    padding: 6px;
    position: relative;
    text-align: center;
}

.new-house input[type="text"], .new-house input[type="number"], .new-house input[type="submit"], .new-house select {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}

.new-house input[type="text"], .new-house input[type="number"], .new-house select {
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 40px;
    padding: 3px 16px;
}

.new-house input[type="radio"] {
    margin: 6px;
    margin-right: 26px;
}

.new-house input[type="radio"]:first-child {
    margin-right: 6px;
}

.new-house select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.new-house select option:first-child {
    display: none;
}

.new-house input:invalid {
    color: FireBrick;
}

.new-house .badge {
    font-weight: lighter;
    left: 10px;
    position: absolute;
    top: -16px;
}

@media only screen and (max-width: 992px) {
    .new-house .badge {
        position: initial;
    }
}
