.btn {
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out, border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.btn-green, .btn-red, .btn-violet, .btn-outline-green, .btn-outline-red, .btn-outline-violet {
    border-radius: 6px;
}


/*.btn-green-oldstyle */

.btn-green-oldstyle {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
}

.btn-green-oldstyle:hover {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
}

.btn-green-oldstyle:focus, .btn-green-oldstyle.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 210, 203, 0.5);
}

.btn-green-oldstyle.disabled, .btn-green-oldstyle:disabled {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
}

.btn-green-oldstyle:not(:disabled):not(.disabled):active, .btn-green-oldstyle:not(:disabled):not(.disabled).active,
.show > .btn-green-oldstyle.dropdown-toggle {
    color: #fff;
    background-color: #2ac2bb;
    border-color: #1ab2ab;
}

.btn-green-oldstyle:not(:disabled):not(.disabled):active:focus, .btn-green-oldstyle:not(:disabled):not(.disabled).active:focus,
.show > .btn-green-oldstyle.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 210, 203, 0.5);
}

.btn-outline-green-oldstyle {
    color: #3ad2cb;
    background-color: transparent;
    background-image: none;
    border-color: #3ad2cb;
}

.btn-outline-green-oldstyle:hover {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
}

.btn-outline-green-oldstyle:focus, .btn-outline-green-oldstyle.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 210, 203, 0.5);
}

.btn-outline-green-oldstyle.disabled, .btn-outline-green-oldstyle:disabled {
    color: #3ad2cb;
    background-color: transparent;
}

.btn-outline-green-oldstyle:not(:disabled):not(.disabled):active, .btn-outline-green-oldstyle:not(:disabled):not(.disabled).active,
.show > .btn-outline-green-oldstyle.dropdown-toggle {
    color: #fff;
    background-color: #2ac2bb;
    border-color: #1ab2ab;
}

.btn-outline-green-oldstyle:not(:disabled):not(.disabled):active:focus, .btn-outline-green-oldstyle:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-green-oldstyle.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 210, 203, 0.5);
}


/*.btn-green */

.btn-green {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}

.btn-green:hover {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.btn-green:focus, .btn-green.focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-green.disabled, .btn-green:disabled {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
    color: #fff;
    background-color: #2ac2bb;
    border-color: #1ab2ab;
}

.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-outline-green {
    color: #3ad2cb;
    background-color: transparent;
    background-image: none;
    border-color: #3ad2cb;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}

.btn-outline-green:hover {
    color: #fff;
    background-color: #3ad2cb;
    border-color: #3ad2cb;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.btn-outline-green:focus, .btn-outline-green.focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-outline-green.disabled, .btn-outline-green:disabled {
    color: #3ad2cb;
    background-color: transparent;
}

.btn-outline-green:not(:disabled):not(.disabled):active, .btn-outline-green:not(:disabled):not(.disabled).active,
.show > .btn-outline-green.dropdown-toggle {
    color: #fff;
    background-color: #2ac2bb;
    border-color: #1ab2ab;
}

.btn-outline-green:not(:disabled):not(.disabled):active:focus, .btn-outline-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-green.dropdown-toggle:focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}


/*.btn-red */

.btn-red {
    color: #fff;
    background-color: #f45b69;
    border-color: #f45b69;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}

.btn-red:hover {
    color: #fff;
    background-color: #f45b69;
    border-color: #f45b69;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.btn-red:focus, .btn-red.focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-red.disabled, .btn-red:disabled {
    color: #fff;
    background-color: #f45b69;
    border-color: #f45b69;
}

.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active,
.show > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #e44b59;
    border-color: #d43b49;
}

.btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-red.dropdown-toggle:focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-outline-red {
    color: #f45b69;
    background-color: transparent;
    background-image: none;
    border-color: #f45b69;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}

.btn-outline-red:hover {
    color: #fff;
    background-color: #f45b69;
    border-color: #f45b69;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.btn-outline-red:focus, .btn-outline-red.focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-outline-red.disabled, .btn-outline-red:disabled {
    color: #f45b69;
    background-color: transparent;
}

.btn-outline-red:not(:disabled):not(.disabled):active, .btn-outline-red:not(:disabled):not(.disabled).active,
.show > .btn-outline-red.dropdown-toggle {
    color: #fff;
    background-color: #e44b59;
    border-color: #d43b49;
}

.btn-outline-red:not(:disabled):not(.disabled):active:focus, .btn-outline-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-red.dropdown-toggle:focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}


/*.btn-violet */

.btn-violet {
    color: #fff;
    background-color: #5b539d;
    border-color: #5b539d;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}

.btn-violet:hover {
    color: #fff;
    background-color: #5b539d;
    border-color: #5b539d;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.btn-violet:focus, .btn-violet.focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-violet.disabled, .btn-violet:disabled {
    color: #fff;
    background-color: #5b539d;
    border-color: #5b539d;
}

.btn-violet:not(:disabled):not(.disabled):active, .btn-violet:not(:disabled):not(.disabled).active,
.show > .btn-violet.dropdown-toggle {
    color: #fff;
    background-color: #4b438d;
    border-color: #3b337d;
}

.btn-violet:not(:disabled):not(.disabled):active:focus, .btn-violet:not(:disabled):not(.disabled).active:focus,
.show > .btn-violet.dropdown-toggle:focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-outline-violet {
    color: #5b539d;
    background-color: transparent;
    background-image: none;
    border-color: #5b539d;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}

.btn-outline-violet:hover {
    color: #fff;
    background-color: #5b539d;
    border-color: #5b539d;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.btn-outline-violet:focus, .btn-outline-violet.focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn-outline-violet.disabled, .btn-outline-violet:disabled {
    color: #5b539d;
    background-color: transparent;
}

.btn-outline-violet:not(:disabled):not(.disabled):active, .btn-outline-violet:not(:disabled):not(.disabled).active,
.show > .btn-outline-violet.dropdown-toggle {
    color: #fff;
    background-color: #4b438d;
    border-color: #3b337d;
}

.btn-outline-violet:not(:disabled):not(.disabled):active:focus, .btn-outline-violet:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-violet.dropdown-toggle:focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

