.cnt {
    padding: 26px;
    font-size: 1.25em;
}

img#house-pic {
    width: 100%;
    border-radius: 10px;
}

.btn {
    font-weight: lighter;
}

#house-detail dt, #house-detail dd {
    display: inline-block;
    font-size: 0.7em;
    border-bottom: 1px solid #ddd;
    padding: 6px;
    padding-top: 20px;
}

#house-detail dt {
    width: 39%;
    color: #9a9a9a;
    font-weight: lighter;
}

#house-detail dd {
    width: 59%;
    margin: 0;
}

#change-number-status {
    margin: 16px 0;
    width: 100%;
}
