@import url("bootstrap.css");
@import url("fontawesome-all.css");
@import url("shabnam.css");
@import url("btn.css");
@import url("headerfooter.css");

@media only screen and (max-width: 992px) {
    .vanish-sm {
        display: none !important;
    }
}

* {
    text-align: right;
}

body {
    direction: rtl;
    font-family: "Shabnam";
    background-color: #fefefe;
    color: #4c4c4c;
}

p {
    text-align: justify;
}

.green {
    color: #3ad2cb;
}

.red {
    color: #f45b69;
}

.violet {
    color: #5b539d;
}
