.box-light-condensed {
    position: relative;
    height: 320px;
    color: #4c4c4c;
}

.box-light-condensed img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: filter 0.15s;
}

.box-light-condensed:hover img {
    -webkit-filter: brightness(90%); /* Safari 6.0 - 9.0 */
    filter: brightness(90%);
}

.box-light-condensed .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 26px;
    font-weight: lighter;
}

.box-light-condensed .detail {
    background: #fff;
    position: absolute;
    height: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
}

.box-light-condensed .detail div {
    text-align: center;
}

.box-light-condensed .detail hr {
    border-color: #9a9a9a;
}

.search form {
    width: 100%;
    padding: 6px 26px;    
}

.search form div{
    text-align: center;
    padding: 6px;
    position: relative;
}

.search input[type="text"], .search input[type="number"], .search input[type="submit"], .search select {
    width: 100%;
    display: inline-block;
}

.search input[type="text"], .search input[type="number"], .search select {
    border-radius: 6px;
    border: none;
    height: 30px;
    padding: 3px 16px;
}

.search input[type="radio"] {
    margin: 6px;
    margin-right: 26px;
}

.search input[type="radio"]:first-child {
    margin-right: 6px;
}

.search select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search select option:first-child {
    display: none;
}

.search .badge {
    position: absolute;
    top: -16px;
    left: 10px;
    font-weight: lighter;
}

@media only screen and (max-width: 992px) {
    .search .badge {
        position: initial;
    }
}
