.current-credit {
    padding-top: 40px;
    text-align: center;
}

.current-credit span {
    padding: 3px 16px;
}

input[type="text"], input[type="number"], input[type="submit"] {
    display: inline-block;
    width: 100%;
}

input[type="text"], input[type="number"] {
    border: 1px solid;
    border-radius: 6px;
    color: #9a9a9a;
    height: 40px;
    margin: 16px auto;
    padding: 3px 16px;
}

input[type="radio"] {
    margin: 6px;
    margin-right: 26px;
}

input[type="radio"]:first-child {
    margin-right: 6px;
}

form {
    text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.8em;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.8em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.8em;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.8em;
}

.badge {
    color: #9a9a9a;
    font-size: 0.6em;
    font-weight: lighter;
    left: 26px;
    position: absolute;
    top: -10px;
}
