@media only screen and (max-width: 992px) {
    .vanish-sm {
        display: none !important;
    }
}

* {
    text-align: right;
}

body {
    background-color: #fefefe;
    color: #4c4c4c;
    direction: rtl;
    font-family: 'Shabnam';
}

p {
    text-align: justify;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.justify-align {
    text-align: justify;
}

.green {
    color: #3ad2cb;
}

.red {
    color: #f45b69;
}

.violet {
    color: #5b539d;
}

.gray {
    color: #9a9a9a;
}

.white {
    color: #fff;
}

.unimportant {
    color: #9a9a9a;
    font-size: 0.75em;
}

.w50 {
    display: inline-block;
    width: 50%;
}

.w100 {
    display: inline-block;
    width: 100%;
}

.cnt {
    font-size: 1.25em;
    padding: 26px;
}

.msgbox {
    background: SlateBlue;
    border-radius: 6px;
    color: #fff;
    left: 0;
    margin: 16px auto;
    opacity: 0.8;
    padding: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: height 1s, opacity 0.3s;
    width: 80%;
    z-index: 900;
}

.msgbox:hover {
    opacity: 0.95;
}
