@media only screen and (max-width: 992px) {
    .vanish-sm {
        display: none !important;
    }
}

* {
    text-align: right;
}

body {
    background-color: #fefefe;
    color: #4c4c4c;
    direction: rtl;
    font-family: "Shabnam";
}

p {
    text-align: justify;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.justify-align {
    text-align: justify;
}

.green {
    color: #3ad2cb;
}

.red {
    color: #f45b69;
}

.violet {
    color: #5b539d;
}

.gray {
    color: #9a9a9a;
}

.white {
    color: #fff;
}

.unimportant {
    color: #9a9a9a;
    font-size: 0.75em;
}

.w50 {
    display: inline-block;
    width: 50%;
}

.w100 {
    display: inline-block;
    width: 100%;
}

.cnt {
    font-size: 1.25em;
    padding: 26px;
}
